---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

let funxUrl = import.meta.env.DEV ? 'http://localhost:8888' : process.env.URL;
const response = await fetch(`${funxUrl}/api/hello`).then((res) => res.text());

console.log(process.env.URL);

let message = response;
---

<Layout title="Welcome to Astro.">
    <section class="px-4 mx-auto space-y-12 max-w-7xl">
        <h1 class="text-3xl text-center">{message}</h1>
        <div class="grid grid-cols-3 gap-8">
            <Card
                title="Basic API"
                link="/basic-api"
                description="General API info"
                img="/api.jpg"
            />
        </div>
    </section>
</Layout>
